<div class="min-h-screen bg-gray-100 flex justify-center items-center px-4 sm:px-0">
  <div class="absolute inset-0 z-10 pointer-events-none">
    <img src="assets/images/hero.png" alt="Hero" class="absolute left-0 bottom-0 max-h-[70vh] object-contain" />

    <!-- Üst: Balonlar -->
    <div class="absolute top-[22px]  flex gap-16 justify-start items-start z-20 left-[100px]">
      <div *ngIf="steps[currentStep]?.message" class="flex-1 flex flex-col items-start">

        <!-- Balon resmi ve metni -->
        <div class="relative cursor-pointer">
          <!-- Balon PNG – alt katman -->
          <img [src]="'assets/images/balon.png'" alt="Balon" class="w-[400px] h-auto z-0" />

          <!-- Mesaj – üst katman -->
          <div class="absolute inset-0 z-10 w-[300px] left-[50px] 
           flex items-center justify-center -translate-y-5
           px-6  text-center text-base font-semibold text-black leading-snug pointer-events-none">
            {{ steps[currentStep].message }}
          </div>
        </div>

      </div>
    </div>


  </div>

  <div class="relative py-3 sm:max-w-xl sm:mx-auto w-full">
    <div
      class="absolute inset-0 bg-gradient-to-r from-indigo-400 to-fuchsia-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>

    <div class="relative px-6 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-16">
      <div class="max-w-md mx-auto w-full">
        <div class="text-center mb-6">


        </div>

        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-8">
          <ng-container *ngIf="steps.length > 0">
            <div class="relative">
              <!-- Dynamic Input -->
              <ng-container [ngSwitch]="steps[currentStep].type">
                <!-- TEXT -->

                <!-- fullName -->
                <div *ngIf="steps[currentStep].field === 'fullName'">
                  <input type="text" formControlName="fullName" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['fullName']?.invalid && form.controls['fullName']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- school -->
                <div *ngIf="steps[currentStep].field === 'school'">
                  <input type="text" formControlName="school" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['school']?.invalid && form.controls['school']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- class -->
                <div *ngIf="steps[currentStep].field === 'class'">
                  <input type="text" formControlName="class" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['class']?.invalid && form.controls['class']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- schoolNumber -->
                <div *ngIf="steps[currentStep].field === 'schoolNumber'">
                  <input type="text" formControlName="schoolNumber" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['schoolNumber']?.invalid && form.controls['schoolNumber']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- favoriteSubject -->
                <div *ngIf="steps[currentStep].field === 'favoriteSubject'">
                  <input type="text" formControlName="favoriteSubject" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['favoriteSubject']?.invalid && form.controls['favoriteSubject']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- hobbies -->
                <div *ngIf="steps[currentStep].field === 'hobbies'">
                  <input type="text" formControlName="hobbies" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['hobbies']?.invalid && form.controls['hobbies']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- futureDream -->
                <div *ngIf="steps[currentStep].field === 'futureDream'">
                  <input type="text" formControlName="futureDream" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['futureDream']?.invalid && form.controls['futureDream']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- quiz1 -->
                <div *ngIf="steps[currentStep].field === 'quiz1'">
                  <input type="text" formControlName="quiz1" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['quiz1']?.invalid && form.controls['quiz1']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- quiz2 -->
                <div *ngIf="steps[currentStep].field === 'quiz2'">
                  <input type="text" formControlName="quiz2" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['quiz2']?.invalid && form.controls['quiz2']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- branch -->
                <div *ngIf="steps[currentStep].field === 'branch'">
                  <input type="text" formControlName="branch" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['branch']?.invalid && form.controls['branch']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- classCount -->
                <div *ngIf="steps[currentStep].field === 'classCount'">
                  <input type="text" formControlName="classCount" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['classCount']?.invalid && form.controls['classCount']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- experience -->
                <div *ngIf="steps[currentStep].field === 'experience'">
                  <input type="text" formControlName="experience" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['experience']?.invalid && form.controls['experience']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- language -->
                <div *ngIf="steps[currentStep].field === 'language'">
                  <input type="text" formControlName="language" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['language']?.invalid && form.controls['language']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- childrenCount -->
                <div *ngIf="steps[currentStep].field === 'childrenCount'">
                  <input type="text" formControlName="childrenCount" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['childrenCount']?.invalid && form.controls['childrenCount']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- studentNames -->
                <div *ngIf="steps[currentStep].field === 'studentNames'">
                  <input type="text" formControlName="studentNames" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['studentNames']?.invalid && form.controls['studentNames']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- contactPreference -->
                <div *ngIf="steps[currentStep].field === 'contactPreference'">
                  <input type="text" formControlName="contactPreference" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['contactPreference']?.invalid && form.controls['contactPreference']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- email -->
                <div *ngIf="steps[currentStep].field === 'email'">
                  <input type="text" formControlName="email" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- password -->
                <div *ngIf="steps[currentStep].field === 'password'">
                  <input type="password" formControlName="password" placeholder="{{ steps[currentStep].label }}"
                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 text-4xl font-bold focus:outline-none focus:border-indigo-500" />
                  <label class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                    {{ steps[currentStep].label }}
                  </label>
                  <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched" class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- SELECT -->
                <div *ngSwitchCase="'select'">
                  <select [formControlName]="steps[currentStep].field"
                    class="w-full border-b-2 border-gray-300 h-10 text-gray-700 focus:outline-none focus:border-indigo-500">
                    <option disabled selected>{{ steps[currentStep].label }}</option>
                    <option *ngFor="let opt of steps[currentStep].options" [value]="opt">{{ opt }}</option>
                  </select>
                </div>

                <!-- MULTISELECT -->
                <div *ngSwitchCase="'multiselect'" class="flex flex-wrap gap-2">
                  <label *ngFor="let opt of steps[currentStep].options" class="flex items-center gap-2">
                    <input type="checkbox" [value]="opt"
                      (change)="onMultiSelectChange(steps[currentStep].field, $event)"
                      [checked]="form.value[steps[currentStep].field]?.includes(opt)" />
                    <span class="text-gray-700">{{ opt }}</span>
                  </label>
                  <div
                    *ngIf="form.controls[steps[currentStep].field]?.invalid && form.controls[steps[currentStep].field]?.touched"
                    class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>

                <!-- QUIZ -->
                <div *ngSwitchCase="'quiz'" class="space-y-2">
                  <label *ngFor="let opt of steps[currentStep].options" class="flex items-center gap-2">
                    <input type="radio" [formControlName]="steps[currentStep].field" [value]="opt" />
                    <span>{{ opt }}</span>
                  </label>
                  <div
                    *ngIf="form.controls[steps[currentStep].field]?.invalid && form.controls[steps[currentStep].field]?.touched"
                    class="text-red-500 text-sm mt-1">
                    {{ steps[currentStep].label }} girilmelidir.
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>

          <!-- Butonlar -->
          <div class="flex justify-between">
            <button type="button" (click)="prevStep()" 
              class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
              Geri
            </button>

            <button type="button" *ngIf="!isLastStep()" (click)="nextStep()"
              class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700">
              İleri
            </button>

            <button type="submit" *ngIf="isLastStep()"
              class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
              Kaydı Tamamla
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="absolute bottom-6 left-0 w-full flex flex-col items-center px-4 z-10">
    <p class="text-xs text-gray-600 text-center max-w-md">
      Kayıt olarak, <a href="#" class="underline text-indigo-500">Koşullarımızı</a> ve <a href="#"
        class="underline text-indigo-500">Gizlilik Politikamızı</a> kabul etmiş olursun.<br>
      Bu site reCAPTCHA Enterprise tarafından korunmaktadır ve Google <a href="https://policies.google.com/privacy"
        target="_blank" class="underline text-indigo-500">Gizlilik
        Politikası</a> ile <a href="https://policies.google.com/terms" target="_blank"
        class="underline text-indigo-500">Hizmet Şartları</a> geçerlidir.
    </p>
  </div>
</div>