// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@import "charts";

// custom tweaks for scrollbar styling (wip)
@import "scrollbar";

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

.sidebar-nav {

  --cui-sidebar-nav-link-icon-width: 1.9rem; // Sidebar içindeki ikonların genişliği
  --cui-sidebar-nav-link-icon-height: 1.9rem; // Sidebar içindeki ikonların yüksekliği
  --cui-sidebar-nav-link-icon-font-size: 1.6rem;  // İkonların font büyüklüğü
  --cui-sidebar-nav-link-icon-color: #4ab4fb; // Normal durumda ikonun rengi
  --cui-sidebar-nav-link-hover-icon-color: #5856d6;  // Üzerine gelindiğinde (hover) ikonun alacağı renk
  --cui-sidebar-nav-link-active-icon-color: #fff; // Aktif (seçili) olan linkin ikon rengi
}

.sidebar-nav .nav-link:hover {
  font-weight: bold;
}

.sidebar-nav .nav-link.active {
  border-left: 5px;
  background-color: #4ab4fb;
  color: white;
}
.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  gap: 0.5rem; // İkon ile yazı arasındaki boşluk (0.5rem = 8px)
}